@import '~antd/dist/antd.css';

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-layout-sider,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
    background: #1d90ff;
}

aside {
    border-top-right-radius: 30px;
}

.ant-menu-item {
    position: relative;
}

.ant-menu-item.ant-menu-item-selected span {
    position: absolute;
    width: 4px;
    height: 58%;
    top: 3px;
    left: 0;
    background: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ant-select-selection-item .ant-col-2 {
    display: none;
}

.ant-select-selection-item .ant-col-22 p:first-child {
    font-weight: normal;
}

.ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 28px;
}

.ant-menu-inline-collapsed > .ant-menu-item svg {
    font-size: 20px;
}

.ant-layout {
    background: white;
}

.content-left {
    border-right: 1px solid #f0f2f5;
}

.ant-modal-root .ant-modal-wrap .ant-modal {
    width: 85%!important;
}

.ant-form {
    width: 100%;
}

.ant-modal {
    top: 70px;
}

.ant-modal-header {
    border-radius: 12px 12px 0 0;
    border: none;
}

.ant-modal-footer button {
    font-weight: 700;
    text-transform: uppercase;
}

.ant-page-header.ant-page-header-ghost {
    padding: 0 16px 24px 24px;
}

.ant-page-header-heading-left {
    margin: 0;
}

.ant-modal-title {
    font-weight: 700;
}

.ant-modal-content {
    border-radius: 12px;
    height: 600px;
}

.image-container img {
    width: 100%;
    max-width: 100%;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-modal-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ant-upload.ant-upload-select {
    width: 100%;
}

.ant-upload-list.ant-upload-list-text {
    display: none;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: black;
    font-size: 18px;
    content: '*';
    position: absolute;
    right: -16px;
    top: 5px;
}
