@import '~antd/dist/antd.css';

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-layout-sider,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
    background: #1d90ff;
}

aside {
    border-top-right-radius: 30px;
}

.ant-menu-item {
    position: relative;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected:after {
    content: "";
    width: 200px;
    height: 500px;
    background: white;
    position: absolute;
    left: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    top: 5px;
}

.ant-menu-inline-collapsed > .ant-menu-item {
    padding: 0 28px;
}

.ant-menu-inline-collapsed > .ant-menu-item svg {
    font-size: 20px;
}

.ant-layout {
    background: white;
}

.content-left {
    border-right: 1px solid #f0f2f5;
}